:root {
  --b: #282c37;
  --g: #888;
  --w: #dddddd;
  --left-margin: 20%;
  --left-margin-mobile: 2.5%;
}

body {
  font: 400 18px/1.6 sans-serif;
  padding: 2rem;
  background: var(--w);
  color: var(--b)
}

.container { max-width: 80ch }
.mbh { margin: 0 0% .5rem }
.mb1 { margin: 0 0% 1rem }
.mb2 { margin: 0 20% 2rem }
.g, pre { color: var(--g) }
header { font-weight: bold; font-size: 18px; }

img { width: 100%; image-rendering: -moz-crisp-edges; image-rendering: pixelated }
a, a:visited { color: var(--b); text-decoration-color: var(--g) }
a:hover { text-decoration-color: var(--b) }
pre, ul, ol, blockquote { margin: 0; padding: 0 1rem }
pre { white-space: pre-wrap }
p { text-align: justify; }

@media (prefers-color-scheme: dark) {
  :root {
    --b: #dddddd;
    --g: #888;
    --w: #282c37;
    --left-margin: 20%;
    --left-margin-mobile: 2.5%;
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size: 20px;
    padding: 2rem;
    background: var(--w);
    color: var(--b)
  }
  .mb2 { margin: 0 var(--left-margin) 2rem }
  .footer { margin: 0 var(--left-margin) 2rem }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 15px;
    padding: 2rem;
    background: var(--w);
    color: var(--b)
  }
  .mb2 { margin: 0 var(--left-margin-mobile) 2rem }
  .footer { margin: 0 var(--left-margin-mobile) 2rem }
}
